@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

/* *{
  box-sizing: border-box;
} */

@theme {
  --font-inter: "Inter", sans-serif;

  --color-text-primary: #e5e7eb;
  --color-text-secondary: #9ca3af;
  --color-accent: #38bdf8;

  --color-bg-primary: #020617;
  --color-bg-secondary: #0f172a;
}

html {
  scroll-behavior: smooth;
}

